<% if resource.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <% resource.errors.full_messages.each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
<% end %>
