@import "~bootstrap/scss/bootstrap";
@import "~antd/dist/antd";

@import "variables";
@import "common";

.newCardTitleInputWrapper div {
  max-width: 100%;
  outline: none;
  border: none;
  border-radius:  5px;
}

.react-trello-board {
  background: none !important;
  //background-color: #edf2f9 !important;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  height: calc(100vh - #{$footer-height} - #{$header-height} - #{$toolbar-height}) !important;
  width: 100%;
}

.react-trello-lane > div {
  max-height: calc(100vh - #{$footer-height} - #{$header-height} - #{$toolbar-height} - 75px);
}

.card-dialog-actions {
  h6 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  button {
    width: 100%;
  }
}

.fake-textarea {
  cursor: pointer;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  padding: 8px 12px;
  text-decoration: none;
}

.board-index-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  width: 265px;
  height: 125px;
  border-radius: 10px;
  background-size: cover;
  background: rgb(245, 245, 245) no-repeat center;
  margin: 5px 10px;


  h4 {
    margin: 0;
    background: rgba(white, 0.5);
    border-radius: 5px;
    padding: 3px 10px;
  }
}

.user-circle {
  --size: 40px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.1);
  text-align: center;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.board-sidebar {
  padding: 12px;
  max-width: 350px;
  width: 100%;
  background: rgba(#f0f9fd, 0.85);
  transition: 0.5s ease;
  overflow-y: auto;
  height: calc(100vh - #{$footer-height} - #{$header-height}) !important;

  &.open {
    width: 350px;
    //min-width: 350px;
  }

  &.closed {
    width: 50px;
  }
}

.card-attachment {
  background: #091e420a;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    cursor: pointer;
  }
}

.chat {
  z-index: 3;
  pointer-events: auto;

  .chat-message {
    position: relative;

    &.my {
      justify-content: flex-end;
      .user-circle {
        order: 1;
        margin-right: 0;
        margin-left: 0.5rem;
      }

      .message-text {
        text-align: left;

        &::before {
          left: 100%;
          right: 0;
          transform: translateX(0px);
          border-width: 6px 0 6px 6px;
          border-color: transparent transparent transparent #cad5ef;
        }
      }
    }

    .user-circle {
      margin-right: 0.5rem;
    }

    .message-text {
      text-align: right;
      position: relative;
      background: #cad5ef;
      padding: 5px 8px 10px 5px;
      border-radius: 5px;
      min-width: 40px;

      &::before {
        position: absolute;
        content: '';
        right: 100%;
        top: 8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 6px 0;
        border-color: transparent #cad5ef transparent transparent;
      }

      .message-time {
        position: absolute;
        right: 5px;
        bottom: 0;
        font-size: 9px;
      }
    }
  }
}

.board-toolbar {
  &.board-toolbar-white {
    color: #fff;
    border-color: #fff;

    .toolbar-color-reverse {
      color: #000;
    }

    .toolbar-bg {
      background-color: #fff;
    }
  }

  &.board-toolbar-black {
    color: #000;
    border-color: #000;

    .toolbar-color-reverse {
      color: #fff;
    }

    .toolbar-bg {
      background-color: #000;
    }
  }
}
