@import "~bootstrap/scss/bootstrap";
@import "~antd/dist/antd";

@import "common";

.newCardTitleInputWrapper div {
  max-width: 100%;
  outline: none;
  border: none;
  border-radius:  5px;
}

.react-trello-board {
  background-image: url("../images/cat.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //background-size: 50px;
  height: calc(100vh - 112px) !important;
  width: 100%;
}

.card-dialog-actions {
  h6 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  button {
    width: 100%;
  }
}

.fake-textarea {
  cursor: pointer;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  padding: 8px 12px;
  text-decoration: none;
}

.board-index-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  width: 300px;
  height: 125px;
  border-radius: 10px;
  background-image: url("../images/cat.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;

  h4 {
    margin: 0;
  }
}

.user-circle {
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.1);
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.board-sidebar {
  max-width: 300px;
  width: 100%;
}
