@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

.header-link {
  color: white;
  text-underline: none;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
